<div id="player"></div>

<div class="wrapper">

	<div class="inner-wrapper">
		<div class="title-wrapper">
			<div class="title first-enter-title">"Elysium"</div>
		</div>
		<div class="artist-wrapper">
			<div class="artist first-enter-artist">Bear's Den</div>
		</div>
		<div class="controls-wrapper">
			<div class="controls" id="previous"></div>
			<div id="play"></div>
			<div class="controls" id="next"></div>
		</div>
		<div class="episode-wrapper">
			<div class="episode first-enter-episode">Episode 29</div>
		</div>
	</div>
</div>
