<div id="player"></div>

<div class="wrapper">
	<div class="inner-wrapper">
		<div class="episode">Episode 29</div>
		<div id="play"></div>
		<div class="title">"Elysium"</div>
		<div class="artist">Bear's Den</div>	
	</div>
</div>
